@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .todo-route {
    @apply flex items-center justify-center bg-green-300/30 p-3 rounded-md cursor-pointer transition hover:bg-green-500;
  }
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .search {
    position: absolute;
    right: 29%;
  }
  .search-create {
    position: absolute;
    right: 29%;
    transform: skew(10px) rotateZ('angle');
  }
}
